In [46]:
%run /home/maayanlab/Desktop/Projects/KEA3/Scripts/init.ipy

In [47]:
chea_2013 = pd.read_table("~/Desktop/Projects/KEA3/TF/ChEA/ChEA_2013.sig", names = ["source", 1, 2, 3, 4, "target", 6, 7, 8, 9, 10, 11, 12], header = None)

In [48]:
chea_2013.head()

,source,1,2,3,4,target,6,7,8,9,10,11,12
0,PAX6-23342162-BETA-FORBRAIN-LENS-MOUSE,NaN,NaN,NaN,NaN,ATE1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PAX6-23342162-BETA-FORBRAIN-LENS-MOUSE,NaN,NaN,NaN,NaN,TAAR8C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PAX6-23342162-BETA-FORBRAIN-LENS-MOUSE,NaN,NaN,NaN,NaN,FNBP1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PAX6-23342162-BETA-FORBRAIN-LENS-MOUSE,NaN,NaN,NaN,NaN,6720456H20RIK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PAX6-23342162-BETA-FORBRAIN-LENS-MOUSE,NaN,NaN,NaN,NaN,STARD8,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
chea_2013["species"] = [x.split('-')[-1] for x in chea_2013["source"]]
chea_2013.head()

,source,1,2,3,4,target,6,7,8,9,10,11,12,species
0,PAX6-23342162-BETA-FORBRAIN-LENS-MOUSE,NaN,NaN,NaN,NaN,ATE1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MOUSE
1,PAX6-23342162-BETA-FORBRAIN-LENS-MOUSE,NaN,NaN,NaN,NaN,TAAR8C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MOUSE
2,PAX6-23342162-BETA-FORBRAIN-LENS-MOUSE,NaN,NaN,NaN,NaN,FNBP1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MOUSE
3,PAX6-23342162-BETA-FORBRAIN-LENS-MOUSE,NaN,NaN,NaN,NaN,6720456H20RIK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MOUSE
4,PAX6-23342162-BETA-FORBRAIN-LENS-MOUSE,NaN,NaN,NaN,NaN,STARD8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MOUSE

In [50]:
chea_2013["source"] = [x.split('-')[0] for x in chea_2013["source"]]
chea_2013.head()

  source   1   2   3   4         target   6   7   8   9  10  11  12 species
0   PAX6 NaN NaN NaN NaN           ATE1 NaN NaN NaN NaN NaN NaN NaN   MOUSE
1   PAX6 NaN NaN NaN NaN         TAAR8C NaN NaN NaN NaN NaN NaN NaN   MOUSE
2   PAX6 NaN NaN NaN NaN          FNBP1 NaN NaN NaN NaN NaN NaN NaN   MOUSE
3   PAX6 NaN NaN NaN NaN  6720456H20RIK NaN NaN NaN NaN NaN NaN NaN   MOUSE
4   PAX6 NaN NaN NaN NaN         STARD8 NaN NaN NaN NaN NaN NaN NaN   MOUSE

In [51]:
chea_2013["source"] = ["_".join([rowData.source, rowData.species]) for index, rowData in chea_2013.iterrows()]
chea_2013.head()

,source,1,2,3,4,target,6,7,8,9,10,11,12,species
0,PAX6_MOUSE,NaN,NaN,NaN,NaN,ATE1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MOUSE
1,PAX6_MOUSE,NaN,NaN,NaN,NaN,TAAR8C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MOUSE
2,PAX6_MOUSE,NaN,NaN,NaN,NaN,FNBP1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MOUSE
3,PAX6_MOUSE,NaN,NaN,NaN,NaN,6720456H20RIK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MOUSE
4,PAX6_MOUSE,NaN,NaN,NaN,NaN,STARD8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MOUSE

In [52]:
chea_2013.drop("species", axis=1, inplace = True)

In [54]:
chea_2013.drop([1,2,3, 4,6, 7, 8, 9, 10, 11, 12], axis=1, inplace = True)

chea_2013.dropna(inplace = True)

chea_2013["target"] = [x.split(',')[0] for x in chea_2013["target"]]
chea_2013.head()

       source         target
0  PAX6_MOUSE           ATE1
1  PAX6_MOUSE         TAAR8C
2  PAX6_MOUSE          FNBP1
3  PAX6_MOUSE  6720456H20RIK
4  PAX6_MOUSE         STARD8

In [55]:
sig = chea_2013.copy()

#Insert first four columns for .sig file format (NaNs)
sig.insert(1, 'NA-1', str(np.nan))
sig.insert(2, 'NA-2', str(np.nan))
sig.insert(3, 'NA-3', str(np.nan))
sig.insert(4, 'NA-4', str(np.nan))

#Insert next four columns for .sig file format (NaNs)
sig.insert(6, 'NA-5', str(np.nan))
sig.insert(7, 'NA-6', str(np.nan))
sig.insert(8, 'NA-7', str(np.nan))
sig.insert(9, 'NA-8', str(np.nan))

#Insert column corresponding to sign (with '?' because it is unknown)
sig.insert(10, 'Sign', '?')

#Insert column specifying interaction type as phosphorylation
sig.insert(11, 'Interaction', 'Transcription-Factor')

#Insert column corresponding to sign (with '?' because it is unknown)
sig.insert(12, 'PubMed', str(np.nan))

In [56]:
#Create dictionary 'sigd' with index numbers as keys
sigd = dict([(key, '') for key in sig.index])

# loop through rows with iterrows()
for index, rowData in sig.iterrows():
    line = ('\t'.join(rowData))
    sigd[index] = line
    
#Transfer tab-separated info into a new txt file
#Make sure to include in ReadMe corresponding column names
with open('ChEA_2013.sig', 'w') as openfile:
    for index in sigd:
        openfile.write(str(sigd[index]) + '\n')

In [19]:
chea_2015 = pd.read_table("~/Desktop/Projects/KEA3/TF/ChEA/ChEA_2015.sig", names = ["source", 1, 2, 3, 4, "target", 6, 7, 8, 9, 10, 11, 12],
                          header = None)

In [20]:
chea_2015.head()

,source,1,2,3,4,target,6,7,8,9,10,11,12
0,VDR_24763502_ChIP-Seq_THP-1_Human,NaN,NaN,NaN,NaN,"STARD4,1.0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,VDR_24763502_ChIP-Seq_THP-1_Human,NaN,NaN,NaN,NaN,"HEXIM1,1.0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,VDR_24763502_ChIP-Seq_THP-1_Human,NaN,NaN,NaN,NaN,"HPCAL1,1.0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,VDR_24763502_ChIP-Seq_THP-1_Human,NaN,NaN,NaN,NaN,"C20ORF197,1.0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,VDR_24763502_ChIP-Seq_THP-1_Human,NaN,NaN,NaN,NaN,"UPB1,1.0",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
chea_2015["species"] = [x.split('_')[-1] for x in chea_2015["source"]]

In [22]:
chea_2015.head()

,source,1,2,3,4,target,6,7,8,9,10,11,12,species
0,VDR_24763502_ChIP-Seq_THP-1_Human,NaN,NaN,NaN,NaN,"STARD4,1.0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Human
1,VDR_24763502_ChIP-Seq_THP-1_Human,NaN,NaN,NaN,NaN,"HEXIM1,1.0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Human
2,VDR_24763502_ChIP-Seq_THP-1_Human,NaN,NaN,NaN,NaN,"HPCAL1,1.0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Human
3,VDR_24763502_ChIP-Seq_THP-1_Human,NaN,NaN,NaN,NaN,"C20ORF197,1.0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Human
4,VDR_24763502_ChIP-Seq_THP-1_Human,NaN,NaN,NaN,NaN,"UPB1,1.0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Human

In [23]:
chea_2015["source"] = [x.split('_')[0] for x in chea_2015["source"]]
chea_2015.head()

  source   1   2   3   4         target   6   7   8   9  10  11  12 species
0    VDR NaN NaN NaN NaN     STARD4,1.0 NaN NaN NaN NaN NaN NaN NaN   Human
1    VDR NaN NaN NaN NaN     HEXIM1,1.0 NaN NaN NaN NaN NaN NaN NaN   Human
2    VDR NaN NaN NaN NaN     HPCAL1,1.0 NaN NaN NaN NaN NaN NaN NaN   Human
3    VDR NaN NaN NaN NaN  C20ORF197,1.0 NaN NaN NaN NaN NaN NaN NaN   Human
4    VDR NaN NaN NaN NaN       UPB1,1.0 NaN NaN NaN NaN NaN NaN NaN   Human

In [24]:
chea_2015["source"] = ["_".join([rowData.source, rowData.species]) for index, rowData in chea_2015.iterrows()]
chea_2015.head()

,source,1,2,3,4,target,6,7,8,9,10,11,12,species
0,VDR_Human,NaN,NaN,NaN,NaN,"STARD4,1.0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Human
1,VDR_Human,NaN,NaN,NaN,NaN,"HEXIM1,1.0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Human
2,VDR_Human,NaN,NaN,NaN,NaN,"HPCAL1,1.0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Human
3,VDR_Human,NaN,NaN,NaN,NaN,"C20ORF197,1.0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Human
4,VDR_Human,NaN,NaN,NaN,NaN,"UPB1,1.0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Human

In [25]:
chea_2015.drop("species", axis=1, inplace = True)

In [29]:
chea_2015["target"] = [x.split(',')[0] for x in chea_2015["target"]]
chea_2015.head()

chea_2015.drop([1,2,3, 4,6, 7, 8, 9, 10, 11, 12], axis=1, inplace = True)

In [30]:
sig = chea_2015.copy()

#Insert first four columns for .sig file format (NaNs)
sig.insert(1, 'NA-1', str(np.nan))
sig.insert(2, 'NA-2', str(np.nan))
sig.insert(3, 'NA-3', str(np.nan))
sig.insert(4, 'NA-4', str(np.nan))

#Insert next four columns for .sig file format (NaNs)
sig.insert(6, 'NA-5', str(np.nan))
sig.insert(7, 'NA-6', str(np.nan))
sig.insert(8, 'NA-7', str(np.nan))
sig.insert(9, 'NA-8', str(np.nan))

#Insert column corresponding to sign (with '?' because it is unknown)
sig.insert(10, 'Sign', '?')

#Insert column specifying interaction type as phosphorylation
sig.insert(11, 'Interaction', 'Transcription-Factor')

#Insert column corresponding to sign (with '?' because it is unknown)
sig.insert(12, 'PubMed', str(np.nan))

In [43]:
sig.head()

Empty DataFrame
Columns: [source, NA-1, NA-2, NA-3, NA-4, target, NA-5, NA-6, NA-7, NA-8, Sign, Interaction, PubMed]
Index: []

In [31]:
#Create dictionary 'sigd' with index numbers as keys
sigd = dict([(key, '') for key in sig.index])

# loop through rows with iterrows()
for index, rowData in sig.iterrows():
    line = ('\t'.join(rowData))
    sigd[index] = line
    
#Transfer tab-separated info into a new txt file
#Make sure to include in ReadMe corresponding column names
with open('ChEA_2015.sig', 'w') as openfile:
    for index in sigd:
        openfile.write(str(sigd[index]) + '\n')

In [14]:
chea_2016 = pd.read_table("~/Desktop/Projects/KEA3/TF/ChEA/ChEA_2016.sig", names = ["source", 1, 2, 3, 4, "target", 6, 7, 8, 9, 10, 11, 12], header = None)

In [15]:
chea_2016.head()

,source,1,2,3,4,target,6,7,8,9,10,11,12
0,BP1_19119308_ChIP-ChIP_Hs578T_Human,NaN,NaN,NaN,NaN,CBR1,NaN,NaN,NaN,NaN,NaN,NaN,20709693
1,BP1_19119308_ChIP-ChIP_Hs578T_Human,NaN,NaN,NaN,NaN,OR1A1,NaN,NaN,NaN,NaN,NaN,NaN,20709693
2,BP1_19119308_ChIP-ChIP_Hs578T_Human,NaN,NaN,NaN,NaN,HTR1B,NaN,NaN,NaN,NaN,NaN,NaN,20709693
3,BP1_19119308_ChIP-ChIP_Hs578T_Human,NaN,NaN,NaN,NaN,LAPTM5,NaN,NaN,NaN,NaN,NaN,NaN,20709693
4,BP1_19119308_ChIP-ChIP_Hs578T_Human,NaN,NaN,NaN,NaN,ADAM21,NaN,NaN,NaN,NaN,NaN,NaN,20709693

In [44]:
chea_2016["species"] = [x.split('_')[-1] for x in chea_2016["source"]]
chea_2016["source"] = [x.split('_')[0] for x in chea_2016["source"]]

In [45]:
chea_2016["source"] = ["_".join([rowData.source, rowData.species]) for index, rowData in chea_2016.iterrows()]

In [57]:
chea_2016.drop("species", axis=1, inplace = True)

chea_2016.drop([1,2,3, 4,6, 7, 8, 9, 10, 11, 12], axis=1, inplace = True)

chea_2016.dropna(inplace = True)

In [58]:
sig = chea_2016.copy()

#Insert first four columns for .sig file format (NaNs)
sig.insert(1, 'NA-1', str(np.nan))
sig.insert(2, 'NA-2', str(np.nan))
sig.insert(3, 'NA-3', str(np.nan))
sig.insert(4, 'NA-4', str(np.nan))

#Insert next four columns for .sig file format (NaNs)
sig.insert(6, 'NA-5', str(np.nan))
sig.insert(7, 'NA-6', str(np.nan))
sig.insert(8, 'NA-7', str(np.nan))
sig.insert(9, 'NA-8', str(np.nan))

#Insert column corresponding to sign (with '?' because it is unknown)
sig.insert(10, 'Sign', '?')

#Insert column specifying interaction type as phosphorylation
sig.insert(11, 'Interaction', 'Transcription-Factor')

#Insert column corresponding to sign (with '?' because it is unknown)
sig.insert(12, 'PubMed', str(np.nan))

In [59]:
#Create dictionary 'sigd' with index numbers as keys
sigd = dict([(key, '') for key in sig.index])

# loop through rows with iterrows()
for index, rowData in sig.iterrows():
    line = ('\t'.join(rowData))
    sigd[index] = line
    
#Transfer tab-separated info into a new txt file
#Make sure to include in ReadMe corresponding column names
with open('ChEA_2016.sig', 'w') as openfile:
    for index in sigd:
        openfile.write(str(sigd[index]) + '\n')